@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(124, 58, 237, 1);
}

/* .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet */
